In [1]:
import pandas as pd
import csv

In [2]:
original_excel = pd.read_excel('Base de fotos entrada 3 Morona2019 FINAL.xlsx')
original_excel.head()

,Codigo foto,Carpeta/Subcarpeta,Camara usada,Fecha,Familia,Genero,Especie,Nombre cientifico,Código/ ID del individuo*,Descripcion o Ubicacion,Quebrada-transecto,Colectores,Metodo de captura
0,DSC_0164 - DSC_0165,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Characidae,Moenkhausia,sp. 1,Moenkhausia sp. 1,T1-CV1QCH-01,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano
1,DSC_0166 - DSC_0167,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Cichlidae,Laetacara,flavilabris,Laetacara flavilabris,T1-CV1QCH-02,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano
2,DSC_0168 - DSC_0169,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Callichthyidae,Corydoras,aeneus,Corydoras aeneus,T1-CV1QCH-03,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano
3,DSC_0170 - DSC_0171,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Cichlidae,Laetacara,flavilabris,Laetacara flavilabris,T1-CV1QCH-04,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano
4,DSC_0172 - DSC_0173,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Characidae,Moenkhausia,sp. 1,Moenkhausia sp. 1,T1-CV1QCH-05,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano

In [3]:
expanded_rows = []
for index, row in original_excel.iterrows():
    row_dict = row.to_dict()
    codigo = row_dict['Codigo foto']
    if '-' in codigo:
        codigo_split = codigo.split('-')
        codigo_start = codigo_split[0].strip()
        codigo_end = codigo_split[1].strip()
        num_start = int(codigo_start.split('_')[1])
        num_end = int(codigo_end.split('_')[1])
        for num in range(num_start, (num_end + 1)):
            extra_row = row_dict.copy()
            foto_codigo = 'DSC_' + str(num).zfill(4)
            extra_row['file_name'] = foto_codigo + '.JPG'
            expanded_rows.append(extra_row)
    else:
        expanded_rows.append(row_dict)
expanded_df = pd.DataFrame(expanded_rows)

In [4]:
expanded_df.head()

,Codigo foto,Carpeta/Subcarpeta,Camara usada,Fecha,Familia,Genero,Especie,Nombre cientifico,Código/ ID del individuo*,Descripcion o Ubicacion,Quebrada-transecto,Colectores,Metodo de captura,file_name
0,DSC_0164 - DSC_0165,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Characidae,Moenkhausia,sp. 1,Moenkhausia sp. 1,T1-CV1QCH-01,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano,DSC_0164.JPG
1,DSC_0164 - DSC_0165,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Characidae,Moenkhausia,sp. 1,Moenkhausia sp. 1,T1-CV1QCH-01,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano,DSC_0165.JPG
2,DSC_0166 - DSC_0167,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Cichlidae,Laetacara,flavilabris,Laetacara flavilabris,T1-CV1QCH-02,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano,DSC_0166.JPG
3,DSC_0166 - DSC_0167,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Cichlidae,Laetacara,flavilabris,Laetacara flavilabris,T1-CV1QCH-02,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano,DSC_0167.JPG
4,DSC_0168 - DSC_0169,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Callichthyidae,Corydoras,aeneus,Corydoras aeneus,T1-CV1QCH-03,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano,DSC_0168.JPG

In [5]:
len(expanded_df)

1068

In [6]:
nov_results = pd.read_csv('november_2019_results.tsv', sep='\t')
nov_results.head()

,file_name,class_1,conf_1,class_2,conf_2,class_3,conf_3,class_4,conf_4,class_5,conf_5
0,DSC_1318.JPG,Tatia,26.972580,Ancistrus,25.828689,Erythrinus,17.470473,Corydoras,17.456527,Pimelodella,3.097814
1,DSC_0735.JPG,Phenacogaster,88.905293,Moenkhausia,6.524772,Hyphessobrycon,3.306469,Astyanax,0.330312,Tyttocharax,0.280693
2,DSC_0728.JPG,Moenkhausia,33.746868,Hemigrammus,31.196511,Charax,10.753255,Creagrutus,9.553058,Bryconops,7.096016
3,DSC_1206.JPG,Pyrrhulina,34.069294,Moenkhausia,29.149905,Phenacogaster,20.571911,Astyanax,11.253992,Hyphessobrycon,1.750551
4,DSC_1133.JPG,Hemigrammus,50.550461,Hyphessobrycon,22.262682,Characidium,8.108934,Phenacogaster,7.896333,Moenkhausia,3.263180

In [7]:
len(nov_results)

1170

In [8]:
merged_results = expanded_df.merge(nov_results, on='file_name')
len(merged_results)

1065

In [9]:
merged_results.to_csv('amazon_fish_merged_results.tsv', sep='\t', index=False)

In [10]:
len(merged_results[merged_results['Genero'] == merged_results['class_1']])

345

In [11]:
len(merged_results[(merged_results['Genero'] == merged_results['class_1']) |
                   (merged_results['Genero'] == merged_results['class_2']) |
                   (merged_results['Genero'] == merged_results['class_3'])])

483

In [12]:
genera = ['Ancistrus', 'Apistogramma', 'Astyanax', 'Bario', 'Bryconops', 'Bujurquina',
           'Bunocephalus', 'Characidium', 'Charax', 'Copella', 'Corydoras', 'Creagrutus',
           'Curimata', 'Doras', 'Erythrinus', 'Gasteropelecus', 'Gymnotus', 'Hemigrammus',
           'Hyphessobrycon', 'Moenkhausia', 'Otocinclus', 'Oxyropsis', 'Phenacogaster',
           'Pimelodella', 'Prochilodus', 'Pygocentrus', 'Pyrrhulina', 'Rineloricaria', 'Sorubim',
           'Tatia', 'Tetragonopterus', 'Tyttocharax']

In [13]:
existing_gen = expanded_df[expanded_df['Genero'].isin(genera)]
len(existing_gen)

751

In [14]:
merged_existing = existing_gen.merge(nov_results, on='file_name')
len(merged_existing)

748

In [15]:
len(merged_existing[(merged_existing['Genero'] == merged_existing['class_1']) |
                   (merged_existing['Genero'] == merged_existing['class_2']) |
                   (merged_existing['Genero'] == merged_existing['class_3'])])

483

In [16]:
len(merged_existing[(merged_existing['Genero'] == merged_existing['class_1']) |
                   (merged_existing['Genero'] == merged_existing['class_2']) |
                   (merged_existing['Genero'] == merged_existing['class_3']) |
                   (merged_existing['Genero'] == merged_existing['class_4']) |
                   (merged_existing['Genero'] == merged_existing['class_5'])])

536